* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Apple SD Gothic Neo", sans-serif;
}

body {
  background-color: white;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* 메인 콘텐츠 스타일 */
.main-wrapper {
  display: flex; /* 중요! 사이드바와 본문 나란히 정렬 */
  justify-content: center;
  margin: 50px auto;
  max-width: 1920px;
  width: calc(100% - 724px); /* 724px = 좌우 마진 */
}

.content::before {
  content: "";
  position: absolute;
  left: -4%;
  top: 0;
  width: 2px;
  height: calc(100% - 50px);
  background-color: #dbdae2;
}

.content {
  width: 80%;
  margin: 0 43px;
}

.section-title {
  font-size: 24px;
  margin-bottom: 5px;
}

.section-divider {
  height: 2px;
  background-color: #dbdae2;
  margin-bottom: 30px;
  width: 100%;
}

.form-group {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.form-label {
  width: 150px;
}

.form-input {
  width: 776px;
  height: 40px;
  border: 2px solid #dbdae2;
  padding: 0 10px;
  border-radius: 15px;
}

.submit-button {
  width: 100px;
  height: 51px;
  background-color: #3867ff;
  color: white;
  border: none;
  cursor: pointer;
  float: right;
  margin-top: 150px;
  border-radius: 100px;
}
