<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>회원 ID 찾기</title>
    <link href="/css/member/pwChanged.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/common/footer.css" />
    <link rel="stylesheet" href="/css/common/header.css" />
    <style>
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: "Arial", sans-serif;
      }

      body {
        min-height: 100vh;
        background-color: #fff;
      }

      .main-content {
        flex: 1;
        padding: 30px;
        margin-top: -35px;
      }

      h1 {
        font-size: 24px;
        margin-bottom: 30px;
        color: #333;
        border-bottom: 1px solid #dbdae2;
        padding-bottom: 3px;
      }
    </style>
  </head>
  <body>
    <th:block th:replace="~{common/headerNude}"></th:block>
    <div class="main-wrapper">
      <div class="sidebar">
        <h2 class="sidebar-heading">내 정보 찾기</h2>
        <div class="sidebar-menu-divider"></div>
        <div class="sidebar-menu">
          <div class="sidebar-menu-item">
            <a th:href="@{/member/findId}">ID 찾기</a>
          </div>
          <div class="sidebar-menu-divider"></div>
          <div class="sidebar-menu-item active">
            <a th:href="@{/member/findPw}">비밀번호 재설정</a>
          </div>
          <div class="sidebar-menu-divider"></div>
        </div>
      </div>
      <div style="width: 2px; background-color: #dbdae2"></div>
      <div class="main-content">
        <h1>비밀번호 재설정</h1>

        <div class="main-container">
          <img class="locked" src="/images/pwChanged.png" alt="자물쇠" />
          <span>비밀번호가 성공적으로 수정되었습니다.</span>
          <button onclick="location.href='/'">확인</button>
        </div>
      </div>
    </div>

    <script src="/js/member/pwChanged.js"></script>
    <th:block th:replace="~{common/footer}"></th:block>
  </body>
</html>
