<!-- Header -->
<header th:fragment="header">
  <div class="logo">
    <a href="/"><img src="/images/headerlogo.png" alt="GoStudy Logo" /></a>
  </div>
  <nav>
    <a href="#">공지사항</a>
    <a href="/board/hire">구인</a>
    <a href="#">질문 게시판</a>
    <a href="/study/studyNow">스터디 현황</a>
    <a href="#">자유 게시판</a>
    <a href="/studyBoard">스터디 게시판</a>
    <!--<a th:href="@{/studyBoard/list/{studyNo}(studyNo=${selectedStudyNo})}">
	-->
  </nav>
  <div class="nothingBox"></div>
  <div class="hamburger">☰</div>
</header>
