<div class="sidebar">
  <h2 class="sidebar-heading">마이페이지</h2>

  <div class="sidebar-divider"></div>

  <div class="sidebar-menu">
    <div class="sidebar-menu-item" id="myPage-info">
      <a th:href="@{/myPage/info}">프로필</a>
    </div>

    <div class="sidebar-menu-divider"></div>

    <div class="sidebar-menu-item" id="myPage-posts">
      <a th:href="@{/myPage/posts}">내 게시글/댓글 보기</a>
    </div>

    <div class="sidebar-menu-divider"></div>

    <div class="sidebar-menu-item" id="myPage-change">
      <a th:href="@{/myPage/changePw}">비밀번호 변경</a>
    </div>

    <div class="sidebar-menu-divider"></div>

    <div class="sidebar-menu-item" id="myPage-delete">
      <a th:href="@{/myPage/delete1}">회원 탈퇴</a>
    </div>
  </div>
</div>
