<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <title>스터디 게시판</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/gh/fonts-archive/AppleSDGothicNeo/AppleSDGothicNeo.css"
      type="text/css"
    />
    <link href="/css/common/header.css" rel="stylesheet" />
    <link href="/css/common/footer.css" rel="stylesheet" />
    <link href="/css/board/boardWrite.css" rel="stylesheet" />
    <script
      src="https://kit.fontawesome.com/b789cfa0ae.js"
      crossorigin="anonymous"
    ></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <link
      href="https://cdn.jsdelivr.net/npm/summernote@0.9.0/dist/summernote-lite.min.css"
      rel="stylesheet"
    />
    <script src="https://cdn.jsdelivr.net/npm/summernote@0.9.0/dist/summernote-lite.min.js"></script>
  </head>
  <body>
    <!-- hearder -->
    <th:block th:replace="~{common/header}"></th:block>

    <!-- 게시판 본문 -->
    <div class="main">
      <div class="side"></div>
      <main>
        <div class="titleContainer">
          <div class="board-title">스터디 게시판</div>
          <div class="board-title-underline"></div>
        </div>
        <form
          action="insert"
          method="POST"
          class="board-write"
          id="boardWriteFrm"
          enctype="multipart/form-data"
        >
          <div class="title-container">
            <input
              name="studyBoardTitle"
              class="title"
              type="text"
              placeholder="제목을 입력하세요"
            />
          </div>

          <div class="board-container">
            <div class="post-form">
              <textarea name="studyBoardContent" id="summernote"> </textarea>
            </div>
          </div>

          <button class="write-button">완료</button>
        </form>
      </main>
    </div>

    <!-- footer -->
    <th:block th:replace="~{common/footer}"></th:block>

    <script>
      $("#summernote").summernote({
        // 에디터 크기 설정
        height: 500,
        width: "100%",

        // 에디터 한글 설정
        lang: "ko-KR",
        // 에디터에 커서 이동 (input창의 autofocus라고 생각하시면 됩니다.)
        toolbar: [
          // 글자 크기 설정
          ["fontsize", ["fontsize"]],
          // 글자 [굵게, 기울임, 밑줄, 취소 선, 지우기]
          ["style", ["bold", "italic", "underline", "strikethrough", "clear"]],
          // 글자색 설정
          ["color", ["color"]],
          // 표 만들기
          ["table", ["table"]],
          // 서식 [글머리 기호, 번호매기기, 문단정렬]
          ["para", ["ul", "ol", "paragraph"]],
          // 줄간격 설정
          ["height", ["height"]],
          // 이미지 첨부
          ["insert", ["picture"]],
        ],
        // 추가한 글꼴
        fontNames: [
          "Arial",
          "Arial Black",
          "Comic Sans MS",
          "Courier New",
          "맑은 고딕",
          "궁서",
          "굴림체",
          "굴림",
          "돋음체",
          "바탕체",
        ],
        // 추가한 폰트사이즈
        fontSizes: [
          "8",
          "9",
          "10",
          "11",
          "12",
          "14",
          "16",
          "18",
          "20",
          "22",
          "24",
          "28",
          "30",
          "36",
          "50",
          "72",
          "96",
        ],
        // focus는 작성 페이지 접속시 에디터에 커서를 위치하도록 하려면 설정해주세요.
        focus: true,
        // callbacks은 이미지 업로드 처리입니다.
        callbacks: {
          // 이미지 업로드시에 호출됩니다.
          onImageUpload: function (files, editor, welEditable) {
            for (var i = files.length - 1; i >= 0; i--) {
              sendFile(files[i], this);
            }
          },
        },
      });

      // 이미지를 임시저장합니다.
      function sendFile(file, el) {
        var form_data = new FormData();
        form_data.append("image", file);
        $.ajax({
          data: form_data,
          type: "POST",
          url: "uploadImg",
          cache: false,
          contentType: false,
          enctype: "multipart/form-data",
          processData: false,
          success: function (imageUrl) {
            $("#summernote").summernote("insertImage", imageUrl);
          },
        });
      }
    </script>
	<script src="/js/common/header.js"></script>
  </body>
</html>
