<div id="commentArea">
	<!-- 댓글 목록 -->
	<div class="comment-list-area">

		<ul id="commentList">

			<!-- 대댓글(자식)인 경우 child-comment 클래스 추가 -->
			<li class="comment-row" 
					th:each="studyComment : ${studyBoard.commentList}" 
					th:classappend="${studyComment.parentStudyCommentNo2} != 0 ? child-comment"
					th:object="${studyComment}">

				<th:block th:if="*{studyCommentDelFl} == 'Y'">
					삭제된 댓글 입니다
				</th:block>

				<th:block th:if="*{studyCommentDelFl} == 'N'">
					<div class="comment-writer">
						<div class="proNick">

							<!-- 프로필 이미지 없을 경우 -->
							<img th:unless="*{profileImg}" th:src="#{user.default.image}">
							<!-- 프로필 이미지 있을 경우 -->
							<img th:if="*{profileImg}" th:src="*{profileImg}">
		
							<span th:text="*{memberNickname}">닉네임</span>
						</div>
					</div>

					<div class="content-comment">
						<p class="comment-content" th:text="*{studyCommentContent}">댓글 내용</p>
					</div>
					<div class="comment-btn-area">
						<span class="comment-date" th:text="*{studyCommentDate}">작성일</span>
						<div class="btn-area">
							<button th:onclick="|showInsertComment(*{studyCommentNo}, this)|">답글</button>
							<th:block th:if="${session.loginMember != null and session.loginMember.memberNo == studyComment.memberNo}">
								<button th:onclick="|showUpdateStudyComment(*{studyCommentNo}, this)|">수정</button>
								<button th:onclick="|deleteStudyComment(*{studyCommentNo})|">삭제</button>
							</th:block>
						</div>
						</div>
				</th:block>

			</li>

		</ul>
	</div>


	<!-- 댓글 작성 부분 -->
	<div class="comment-write-area">
		<textarea id="commentContent"></textarea>
		<button id="addComment">
			댓글<br>
			등록
		</button>
	</div>

</div>