<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.semi.board.model.mapper.BoardMapper">

	<!-- 해제되지 않은 스터디 개수 조회(스터디 현황에 표시될 스터디 개수)-->
 	<select id="getAnnounceCount">
 		SELECT COUNT(*)
 		FROM "ANNOUNCEMENT"
 		WHERE ANNOUNCE_DEL_FL = 'N'
 	</select>
 	
 	<!-- 모든 공지사항 조회 -->
	<select id="selectAllAnnounce">
		SELECT ANNOUNCE_NO, ANNOUNCE_NAME, ANNOUNCE_COUNT, MEMBER_NICKNAME,

		<![CDATA[
		CASE
			
			WHEN SYSDATE - ANNOUNCE_DATE < 1 / 24 / 60
			THEN FLOOR((SYSDATE - ANNOUNCE_DATE) * 24 * 60 * 60) || '초 전'
			
			WHEN SYSDATE - ANNOUNCE_DATE < 1 /24
			THEN FLOOR((SYSDATE - ANNOUNCE_DATE) * 24 * 60)|| '분 전'
			
			WHEN SYSDATE - ANNOUNCE_DATE < 1
			THEN FLOOR((SYSDATE - ANNOUNCE_DATE) * 24) || '시간 전'
		ELSE TO_CHAR(ANNOUNCE_DATE, 'YYYY-MM-DD')
		END ANNOUNCE_DATE
		]]>
		
		FROM "ANNOUNCEMENT" B
		JOIN "MEMBER" M ON(B.MEMBER_NO = M.MEMBER_NO)
		WHERE B.ANNOUNCE_DEL_FL ='N'
		ORDER BY ANNOUNCE_NO DESC
	</select>

	<!-- 조건에 맞으면서 삭제되지 않은 스터디 수 -->
 	<select id="getSearchCount">
 		SELECT COUNT(*)
 		FROM "ANNOUNCE"
 		WHERE ANNOUNCE_DEL_FL = 'N'
 		<choose>
 			<!-- 스터디 이름 검색인 경우 key값 t-->
 			<when test='key=="t"'>
 				AND STUDY_NAME LIKE '%' || #{query} || '%'
 			</when>
 			
 			<!-- 스터디 방향성 검색 -->
 			<when test='key=="c"'>
 				AND STUDY_TYPE = #{query}
 			</when>
 		</choose>
 	</select>


</mapper>
