<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="kr.co.semi.chatting.model.mapper.ChattingMapper">

	<!-- 채팅 보내기 -->
	<insert id="insertMessage">
    INSERT INTO STUDY_CHAT_MESSAGE
        VALUES (
        SEQ_MESSAGE_NO.NEXTVAL,
        #{studyNo},
        #{senderNo},
        #{content},
        SYSDATE)
	</insert>
	
	<!-- 채팅 불러오기 -->
	<select id="getMessagesByStudyNo">
		SELECT 
            MESSAGE_NO,
            STUDY_NO,
            SENDER_NO,
            CONTENT,
            TO_CHAR(SEND_TIME, 'AM HH:MI') AS SEND_TIME
        FROM STUDY_CHAT_MESSAGE 
        WHERE STUDY_NO = #{studyNo}
        ORDER BY SEND_TIME ASC, MESSAGE_NO ASC
	</select>
	
	<!--해당 member가 study에 속해있는지 확인 -->
	<select id="isStudyMember" resultType="boolean">
    	SELECT
        	CASE
            	WHEN COUNT(*) > 0 THEN TRUE
            	ELSE FALSE
        	END
	    FROM STUDY_MEMBER
	    WHERE STUDY_NO = #{studyNo}
	    AND MEMBER_NO = #{memberNo}
</select>


</mapper>
