<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.semi.myPage.model.mapper.MyPageMapper">

	<!-- 일정 조회하기 -->
	<select id="selectMember">
		SELECT MEMBER_MAJOR, MEMBER_INTRODUCE, PROFILE_IMG
		FROM MEMBER
		WHERE MEMBER_NO = #{memberNo}
	</select>

	<update id="updateInfo">
		UPDATE "MEMBER" SET
		MEMBER_NICKNAME =
		#{memberNickname},
		MEMBER_TEL = #{memberTel},
		MEMBER_MAJOR =
		#{memberMajor},
		MEMBER_ADDRESS = #{memberAddress},
		MEMBER_INTRODUCE =
		#{memberIntroduce}
		WHERE MEMBER_NO = #{memberNo}
	</update>

	<update id="profile">
		UPDATE "MEMBER" SET
		PROFILE_IMG = #{profileImg}
		WHERE
		MEMBER_NO = #{memberNo}
	</update>

	<select id="selectPw">
		SELECT MEMBER_PW
		FROM "MEMBER"
		WHERE MEMBER_NO =
		#{memberNo}
	</select>

	<update id="changePw">
		UPDATE "MEMBER" SET
		MEMBER_PW = #{encPw}
		WHERE
		MEMBER_NO = #{memberNo}
	</update>

	<update id="deleteMember">
		UPDATE "MEMBER" SET
		MEMBER_DEL_FL = 'Y'
		WHERE MEMBER_NO
		= #{memberNo}
	</update>

	<!-- 페이지 전체 수 구하는 식 -->
	<select id="getBoardCountByMember" parameterType="int"
		resultType="int">
		SELECT COUNT(*)
		FROM (
		
		SELECT sb.STUDY_BOARD_NO
		FROM STUDY_BOARD sb
		JOIN STUDY s ON sb.STUDY_NO = s.STUDY_NO
		WHERE
		sb.MEMBER_NO = #{memberNo}
		AND sb.STUDY_BOARD_DEL_FL = 'N'
		AND
		s.STUDY_DEL_FL = 'N'

		UNION

		
		SELECT b.BOARD_NO
		FROM BOARD b
		WHERE
		b.MEMBER_NO = #{memberNo}
		AND b.BOARD_DEL_FL = 'N'

		UNION

		
		SELECT
		hi.HIRE_NO
		FROM HIRE_INFO hi
		LEFT JOIN STUDY s ON hi.STUDY_NO =
		s.STUDY_NO
		WHERE hi.MEMBER_NO = #{memberNo}
		AND hi.HIRE_DEL_FL = 'N'
		AND
		(hi.STUDY_NO IS NULL OR s.STUDY_DEL_FL = 'N'))
	</select>

	<!-- 페이지 상세조회 -->
	<resultMap id="boardResultMap"
		type="kr.co.semi.board.model.dto.Board">
		<result property="boardNo" column="boardNo" />
		<result property="boardTitle" column="boardTitle" />
		<result property="memberNickname" column="memberNickname" />
		<result property="boardWriteDate" column="boardWriteDate" />
		<result property="readCount" column="readCount" />
		<result property="likeCount" column="likeCount" />
		<result property="boardCode" column="boardCode" />
	</resultMap>


	<select id="selectBoardWithPaging" resultMap="boardResultMap"
		parameterType="int">
		SELECT
		boardNo,
		boardTitle,
		memberNickname,
		boardWriteDate,
		readCount,
		likeCount,
		boardCode
		FROM (
		
		SELECT
		sb.STUDY_BOARD_NO AS boardNo,
		sb.STUDY_BOARD_TITLE AS boardTitle,
		m.MEMBER_NICKNAME AS memberNickname,
		TO_CHAR(sb.STUDY_BOARD_WRITE_DATE, 'YY.MM.DD') AS boardWriteDate,
		sb.STUDY_BOARD_WRITE_DATE AS writeDate,
		sb.READ_COUNT AS readCount,
		COUNT(bl.BOARD_NO) AS likeCount,
		2000 AS boardCode
		FROM STUDY_BOARD sb
		LEFT JOIN MEMBER m ON sb.MEMBER_NO = m.MEMBER_NO
		LEFT JOIN BOARD_LIKE
		bl ON sb.STUDY_BOARD_NO = bl.BOARD_NO
		JOIN STUDY s ON sb.STUDY_NO =
		s.STUDY_NO
		WHERE sb.MEMBER_NO = #{memberNo}
		AND sb.STUDY_BOARD_DEL_FL =
		'N'
		AND s.STUDY_DEL_FL = 'N'
		GROUP BY sb.STUDY_BOARD_NO,
		sb.STUDY_BOARD_TITLE, m.MEMBER_NICKNAME,
		sb.STUDY_BOARD_WRITE_DATE,
		sb.READ_COUNT

		UNION

		
		SELECT
		b.BOARD_NO AS boardNo,
		b.BOARD_TITLE AS boardTitle,
		m.MEMBER_NICKNAME AS memberNickname,
		TO_CHAR(b.BOARD_WRITE_DATE, 'YY.MM.DD') AS boardWriteDate,
		b.BOARD_WRITE_DATE AS writeDate,
		b.READ_COUNT AS readCount,
		COUNT(bl.BOARD_NO) AS likeCount,
		b.BOARD_CODE AS boardCode
		FROM BOARD b
		LEFT JOIN MEMBER m ON b.MEMBER_NO = m.MEMBER_NO
		LEFT JOIN BOARD_LIKE bl
		ON b.BOARD_NO = bl.BOARD_NO
		WHERE b.MEMBER_NO = #{memberNo}
		AND
		b.BOARD_DEL_FL = 'N'
		GROUP BY b.BOARD_NO, b.BOARD_TITLE,
		m.MEMBER_NICKNAME,
		b.BOARD_WRITE_DATE, b.READ_COUNT, b.BOARD_CODE

		UNION

		
		SELECT
		hi.HIRE_NO AS boardNo,
		hi.HIRE_TITLE AS boardTitle,
		m.MEMBER_NICKNAME AS memberNickname,
		TO_CHAR(hi.HIRE_DATE, 'YY.MM.DD')
		AS boardWriteDate,
		hi.HIRE_DATE AS writeDate,
		hi.HIRE_READ_COUNT AS
		readCount,
		COUNT(bl.BOARD_NO) AS likeCount,
		1000 AS boardCode
		FROM
		HIRE_INFO hi
		LEFT JOIN MEMBER m ON hi.MEMBER_NO = m.MEMBER_NO
		LEFT JOIN
		BOARD_LIKE bl ON hi.HIRE_NO = bl.BOARD_NO
		LEFT JOIN STUDY s ON
		hi.STUDY_NO = s.STUDY_NO
		WHERE hi.MEMBER_NO = #{memberNo}
		AND
		hi.HIRE_DEL_FL = 'N'
		AND (hi.STUDY_NO IS NULL OR s.STUDY_DEL_FL = 'N')
		GROUP BY hi.HIRE_NO, hi.HIRE_TITLE, m.MEMBER_NICKNAME,
		hi.HIRE_DATE,
		hi.HIRE_READ_COUNT
		)
		ORDER BY writeDate DESC
	</select>

	<!-- 댓글 총 개수 조회 -->
	<select id="getCommentCountByMember" parameterType="int"
		resultType="int">
		SELECT COUNT(*)
		FROM (
		
		SELECT hc.HIRE_NO
		FROM
		HIRE_COMMENT hc
		JOIN HIRE_INFO hi ON hc.HIRE_NO = hi.HIRE_NO
		LEFT JOIN
		STUDY s ON hi.STUDY_NO = s.STUDY_NO
		WHERE hc.MEMBER_NO = #{memberNo}
		AND hi.HIRE_DEL_FL = 'N'
		AND hc.HIRE_COMMENT_DEL_FL = 'N'
		AND
		(hi.STUDY_NO IS NULL OR s.STUDY_DEL_FL = 'N') 
		
		UNION 
		
		SELECT sc.STUDY_BOARD_NO
		FROM STUDY_COMMENT sc
		JOIN STUDY_BOARD sb ON
		sc.STUDY_BOARD_NO = sb.STUDY_BOARD_NO
		JOIN STUDY s ON sb.STUDY_NO =
		s.STUDY_NO
		WHERE sc.MEMBER_NO = #{memberNo}
		AND sb.STUDY_BOARD_DEL_FL =
		'N'
		AND sc.STUDY_COMMENT_DEL_FL = 'N'
		AND s.STUDY_DEL_FL = 'N' 

		UNION 

		
		SELECT c.BOARD_NO
		FROM "COMMENT" c
		JOIN BOARD b ON
		c.BOARD_NO = b.BOARD_NO
		WHERE c.MEMBER_NO = #{memberNo}
		AND
		b.BOARD_DEL_FL = 'N'
		AND c.COMMENT_DEL_FL = 'N')
	</select>

	<!-- 댓글 상세 조회 -->
	<select id="selectCommentWithPaging" parameterType="int"
		resultType="map">
		SELECT *
		FROM (
		
		SELECT
		h.HIRE_NO AS "boardNo",
		h.HIRE_TITLE AS "boardTitle",
		hc.HIRE_COMMENT_CONTENT AS
		"commentContent",
		hc.HIRE_COMMENT_DATE AS "commentDate", 
		TO_CHAR(hc.HIRE_COMMENT_DATE, 'YYYY-MM-DD') AS "commentDateStr",
		1000
		AS "boardCode"
		FROM HIRE_INFO h
		JOIN HIRE_COMMENT hc ON
		h.HIRE_NO =
		hc.HIRE_NO
		WHERE hc.MEMBER_NO = #{memberNo}
		AND
		h.HIRE_DEL_FL = 'N'
		AND
		hc.HIRE_COMMENT_DEL_FL = 'N'

		UNION

		
		SELECT
		s.STUDY_BOARD_NO AS
		boardNo,
		s.STUDY_BOARD_TITLE AS boardTitle,
		sc.STUDY_COMMENT_CONTENT AS
		commentContent,
		sc.STUDY_COMMENT_DATE AS
		commentDate,
		TO_CHAR(sc.STUDY_COMMENT_DATE, 'YYYY-MM-DD') AS
		"commentDateStr",
		2000
		AS boardCode
		FROM STUDY_BOARD s
		JOIN STUDY_COMMENT
		sc ON s.STUDY_BOARD_NO
		= sc.STUDY_BOARD_NO
		JOIN STUDY st ON s.STUDY_NO
		= st.STUDY_NO
		WHERE
		sc.MEMBER_NO = #{memberNo}
		AND s.STUDY_BOARD_DEL_FL
		= 'N'
		AND
		sc.STUDY_COMMENT_DEL_FL = 'N'
		AND st.STUDY_DEL_FL = 'N'

		UNION

		
		SELECT
		b.BOARD_NO AS boardNo,
		b.BOARD_TITLE AS boardTitle,
		c.COMMENT_CONTENT AS commentContent,
		c.COMMENT_WRITTEN_DATE AS
		commentDate,
		TO_CHAR(c.COMMENT_WRITTEN_DATE, 'YYYY-MM-DD') AS
		"commentDateStr",
		b.BOARD_CODE
		FROM BOARD b
		JOIN "COMMENT" c ON
		b.BOARD_NO = c.BOARD_NO
		WHERE c.MEMBER_NO = #{memberNo}
		AND
		b.BOARD_DEL_FL = 'N'
		AND c.COMMENT_DEL_FL = 'N'
		) sub
		ORDER BY
		"commentDate" DESC
	</select>


</mapper>
