<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="kr.co.semi.studyboard.model.mapper.StudyMapper">

 	<!-- 모든 스터디 조회 -->
 	<select id="selectAllStudy">
		SELECT 
		    S.STUDY_NO,
		    S.STUDY_NAME,
		    S.STUDY_MAX_COUNT,
		    S.STUDY_TYPE,
		    TO_CHAR(S.STUDY_DATE, 'YYYY.MM.DD') AS STUDY_DATE,
		    S.STUDY_PERIOD,
		    S.STUDY_MAIN_IMG,
		    M.MEMBER_NICKNAME,
		    M.PROFILE_IMG,
		    (SELECT COUNT(*)
		     FROM STUDY_MEMBER SM2
		     WHERE SM2.STUDY_NO = S.STUDY_NO) AS MEMBER_COUNT
		FROM "STUDY" S
		LEFT JOIN STUDY_MEMBER SM ON S.STUDY_NO = SM.STUDY_NO AND SM.STUDY_CAP = 'Y'
		LEFT JOIN "MEMBER" M ON SM.MEMBER_NO = M.MEMBER_NO
		WHERE S.STUDY_DEL_FL = 'N'
 	</select>
 	
 	
 	<!-- 팀장인 스터디원 조회 -->
 	<select id="selectCap">
 		SELECT STUDY_NO, MEMBER_NO
 		FROM "STUDY_MEMBER"
 		WHERE STUDY_CAP = 'Y'
 	</select>
 	
 	<!-- 해제되지 않은 스터디 개수 조회(스터디 현황에 표시될 스터디 개수)-->
 	<select id="getStudyCount">
 		SELECT COUNT(*)
 		FROM "STUDY"
 		WHERE STUDY_DEL_FL = 'N'
 	</select>
 	
 	
 	<!-- 조건에 맞으면서 삭제되지 않은 스터디 수 -->
 	<select id="getSearchCount">
 		SELECT COUNT(*)
 		FROM "STUDY"
 		WHERE STUDY_DEL_FL = 'N'
 		<choose>
 			<!-- 스터디 이름 검색인 경우 key값 t-->
 			<when test='key=="t"'>
 				AND STUDY_NAME LIKE '%' || #{query} || '%'
 			</when>
 			
 			<!-- 스터디 방향성 검색 -->
 			<when test='key=="c"'>
 				AND STUDY_TYPE = #{query}
 			</when>
 		</choose>
 	</select>
 	
 	<!-- 검색 조건에 부합하는 스터디 조회-->
 	<select id="selectSearchList">
  		SELECT STUDY_NO ,STUDY_NAME, STUDY_MAX_COUNT, STUDY_TYPE, TO_CHAR(STUDY_DATE, 'YYYY.MM.DD') AS STUDY_DATE, STUDY_PERIOD, STUDY_MAIN_IMG, 
 		(SELECT COUNT(*)
 		FROM STUDY_MEMBER SM
 		WHERE SM.STUDY_NO = S.STUDY_NO) AS MEMBER_COUNT
 		FROM "STUDY" S
 		WHERE STUDY_DEL_FL = 'N'
 		
 		<choose>
 			<!-- 스터디 이름 검색인 경우 key값 t-->
 			<when test='key=="t"'>
 				AND STUDY_NAME LIKE '%' || #{query} || '%'
 			</when>
 			
 			<!-- 스터디 방향성 검색 -->
 			<when test='key=="c"'>
 				AND STUDY_TYPE = #{query}
 			</when>
 		</choose>
 	</select>
 	
 	 	<!-- 모든 스터디 조회 -->
 	<select id="selectMainStudy">
 		SELECT STUDY_NO ,STUDY_NAME, STUDY_MAX_COUNT, STUDY_TYPE, TO_CHAR(STUDY_DATE, 'YYYY.MM.DD') AS STUDY_DATE, STUDY_PERIOD, STUDY_MAIN_IMG, 
 		(SELECT COUNT(*)
 		FROM STUDY_MEMBER SM
 		WHERE SM.STUDY_NO = S.STUDY_NO) AS MEMBER_COUNT
 		FROM "STUDY" S
 		WHERE STUDY_DEL_FL = 'N'
 	</select>
 	
 	
</mapper>
