<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.semi.studyboard.model.mapper.StudyBoardMapper">

<!-- 스터디 정보 조회 -->
<select id="studyInfo">
SELECT S.STUDY_NO, S.STUDY_NAME, S.STUDY_DEL_FL,
       S.STUDY_MAX_COUNT, S.STUDY_DATE, S.STUDY_TYPE,
       S.STUDY_PERIOD, S.STUDY_MAIN_IMG,
       R.RULE_CONTENT, M.STUDY_CAP
FROM STUDY S
JOIN STUDY_RULE R ON S.STUDY_NO = R.STUDY_NO
JOIN STUDY_MEMBER M ON S.STUDY_NO = M.STUDY_NO
WHERE S.STUDY_NO = #{studyNo}
AND M.MEMBER_NO = #{memberNo} 
</select>

</mapper>
