<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.semi.studyboard.model.mapper.StudyBoardMapper">

<!-- 스터디 정보 조회 -->
<select id="getStudyInfo" resultType="Study">
SELECT S.STUDY_NO, S.STUDY_NAME, 
       S.STUDY_MAX_COUNT, 
       TO_CHAR(S.STUDY_DATE, 'YYYY-MM-DD') AS STUDY_DATE, 
       S.STUDY_TYPE, S.STUDY_PERIOD, S.STUDY_MAIN_IMG,
       SM.STUDY_CAP
FROM STUDY S
JOIN STUDY_MEMBER SM ON S.STUDY_NO = SM.STUDY_NO
JOIN MEMBER M ON SM.MEMBER_NO = M.MEMBER_NO
WHERE S.STUDY_NO = #{studyNo}
AND SM.MEMBER_NO = #{memberNo}
AND S.STUDY_DEL_FL = 'N'
AND M.MEMBER_DEL_FL = 'N'
</select>

<select id="getStudyrule">
SELECT RULE_CONTENT
FROM STUDY_RULE
WHERE STUDY_NO=#{studyNo}
</select>

<!-- 스터디 내규 등록/수정 -->
<update id="insertOrUpdateRule">
UPDATE STUDY_RULE SET
RULE_CONTENT = #{ruleContent}
WHERE STUDY_NO = #{studyNo}
</update>


<!-- 스터디 정보 수정 -->
<update id="updateStudyInfo">
UPDATE STUDY 
SET STUDY_NAME = #{studyName},
    STUDY_MAX_COUNT = #{studyMaxCount},
    STUDY_TYPE = #{studyType},
    STUDY_PERIOD = #{studyPeriod}
    <if test="studyMainImg != null">
    , STUDY_MAIN_IMG = #{studyMainImg}
    </if>
WHERE STUDY_NO = #{studyNo}
</update>

<!-- 스터디 멤버 탈퇴 -->
<delete id="withdrawMember">
DELETE FROM STUDY_MEMBER 
WHERE STUDY_NO = #{studyNo} 
AND MEMBER_NO = #{memberNo}
</delete>

<!-- 스터디 해체 -->
<update id="deleteStudy">
UPDATE STUDY 
SET STUDY_DEL_FL = 'Y'
WHERE STUDY_NO = #{studyNo}
</update>

<!-- 스터디 멤버 권한 확인 -->
<select id="checkMemberRole" resultType="String">
SELECT STUDY_CAP
FROM STUDY_MEMBER
WHERE MEMBER_NO = #{memberNo}
</select>

<!-- 내가 작성한 스터디 게시글 조회 -->
<select id="getMyPosts" resultType="StudyBoard">
<![CDATA[
SELECT * FROM (
    SELECT SB.STUDY_BOARD_NO, SB.STUDY_BOARD_TITLE, SB.STUDY_BOARD_CONTENT,
           TO_CHAR(SB.STUDY_BOARD_WRITE_DATE, 'YYYY-MM-DD') AS STUDY_BOARD_WRITE_DATE,
           SB.READ_COUNT,
           M.MEMBER_NICKNAME,
           ROW_NUMBER() OVER (ORDER BY SB.STUDY_BOARD_WRITE_DATE DESC) AS RN
    FROM STUDY_BOARD SB
    JOIN MEMBER M ON SB.MEMBER_NO = M.MEMBER_NO
    WHERE SB.STUDY_NO = #{studyNo} 
    AND SB.STUDY_BOARD_DEL_FL = 'N'
) WHERE RN > #{offset} AND RN <= #{offset} + #{limit}
]]>
</select>

<!-- 현재 스터디 멤버 수 조회 -->
<select id="getCurrentMemberCount" resultType="int">
SELECT COUNT(*)
FROM STUDY_MEMBER
WHERE STUDY_NO = #{studyNo}
</select>

<!-- 스터디 멤버 목록 조회 -->
<select id="getStudyMembers" resultType="java.util.HashMap">
SELECT SM.MEMBER_NO, M.MEMBER_NICKNAME, SM.STUDY_CAP
FROM STUDY_MEMBER SM
JOIN MEMBER M ON SM.MEMBER_NO = M.MEMBER_NO
WHERE SM.STUDY_NO = #{studyNo}
AND M.MEMBER_DEL_FL = 'N'
ORDER BY SM.STUDY_CAP DESC
</select>

</mapper>