<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="kr.co.semi.board.model.mapper.StudyCalendarMapper">

	 <!-- 일정 조회하기 -->
    <select id="StudyCalendarList">
        SELECT
            CALENDAR_NO,
            CALENDAR_TITLE AS TITLE,
            TO_CHAR("START", 'YYYY-MM-DD') AS START1,
            TO_CHAR("END", 'YYYY-MM-DD') AS END,
            CALENDAR_COLOR AS COLOR
        FROM STUDY_CALENDAR
        WHERE STUDY_NO = #{studyNo}
    </select>

    <!-- 일정 저장하기 -->
    <!-- 저장하고 생성된 no(key) 값을 return 시킨다 -->
    <insert id="calendarSave"  useGeneratedKeys="true" keyColumn="CALENDAR_NO" keyProperty="calendarNo" >
        INSERT INTO STUDY_CALENDAR(
            CALENDAR_NO,
            CALENDAR_TITLE,
            "START",
            "END",
            STUDY_NO,
            MEMBER_NO,
            CALENDAR_COLOR
        ) values (
                         SEQ_STUDY_CALENDAR_NO.NEXTVAL,
                         #{title},
                         TO_DATE(#{start1}, 'YYYY-MM-DD'),
                         TO_DATE(#{end}, 'YYYY-MM-DD'),
                         #{studyNo},
                         #{memberNo},
                         #{color}
                 )
    </insert>

    <!-- 일정 삭제하기 -->
    <delete id="calendarDelete">
        DELETE FROM STUDY_CALENDAR WHERE CALENDAR_NO = #{calendarNo}
    </delete>


    <!-- 일정 수정하기 -->
    <update id="eventUpdate">
        UPDATE STUDY_CALENDAR SET
                            CALENDAR_TITLE = #{title} ,
                            "START" = TO_DATE(#{start1}, 'YYYY-MM-DD') ,
                            "END" = TO_DATE(#{end}, 'YYYY-MM-DD')
        WHERE CALENDAR_NO = #{calendarNo}
    </update>
    
    <!-- 특정 멤버의 스터디 번호 가져오기 -->
    <select id="bringStudyNo">
    	SELECT STUDY_NO
    	FROM STUDY_MEMBER
    	WHERE MEMBER_NO = #{memberNo}
    </select>
 
</mapper>
